* {
    font-family: 'Jua';
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.jumbotron{
    background-color: #DBAEFF;
    color: #C6FFE3;
    margin-bottom: 0px;

}

.desc {
    color: #5B00A4;
}
.input {
    font-family: 'Valera-Round';
    background-color: #FFFFFF;
    border: black;
    
}
.display {
    display: none;
}

.remainder {
    background-color: #C6FFE3;
}
.text {
    display: none;
}